<header class="header">
  <div class="header__inner">
    <!-- 右：ハンバーガーメニュー -->
    <div class="hamburger hamburger-single" id="Hamburger">
      <div class="hamburger__container">
        <span class="hamburger__top"></span>
        <span class="hamburger__middle"></span>
        <span class="hamburger__bottom"></span>
      </div>
    </div>
  </div>

  <!-- 展開メニュー -->
  <div class="sp__menu">
    <div class="sp__menu__container">
      <div class="sp__menu__nav">
        <ul id="menu__hamburger__nav" class="sp__menu__ul">
          <% if current_user.present? %>
            <li><%= link_to "TOP", authenticated_root_path %></li>
            <li><%= link_to "みんなのドライブプラン", authenticated_root_path %></li>
            <li><%= link_to "ドライブプラン作成", authenticated_root_path %></li>
            <li><%= link_to "スポット検索", authenticated_root_path %></li>
            <li><%= link_to "マイページ", account_profile_path %></li>
            <li><%= link_to "ログアウト", users_sign_out_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" }, id: "logout-link" %></li>
          <% else %>
            <li><%= link_to "TOP", unauthenticated_root_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "みんなのドライブプラン", unauthenticated_root_path %></li>
            <li><%= link_to "DrivePeekの使い方", unauthenticated_root_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>