<header class="header" data-controller="hamburger">
  <div class="header__inner">
    <!-- 右：ハンバーガーメニュー -->
    <div class="hamburger hamburger-single" id="Hamburger" data-hamburger-target="button" data-action="click->hamburger#toggle">
      <div class="hamburger__container">
        <span class="hamburger__top"></span>
        <span class="hamburger__middle"></span>
        <span class="hamburger__bottom"></span>
      </div>
    </div>
  </div>

  <!-- 展開メニュー -->
  <div class="sp__menu" data-hamburger-target="menu">
    <div class="sp__menu__container">
      <div class="sp__menu__nav">
        <ul id="menu__hamburger__nav" class="sp__menu__ul">
          <% if current_user.present? %>
            <li><%= link_to new_plan_path do %><i class="fa-solid fa-pen"></i><span>プランを作る</span><% end %></li>
            <li><%= link_to plans_path do %><i class="fa-solid fa-earth-asia"></i><span>みんなの旅</span><% end %></li>
            <li><%= link_to favorites_path do %><i class="fa-solid fa-bookmark"></i><span>お気に入り</span><% end %></li>
            <li><%= link_to plans_mine_index_path do %><i class="fa-solid fa-route"></i><span>作ったプラン</span><% end %></li>
            <li>
              <%= link_to settings_path do %>
                <i class="fa-solid fa-gear"></i>
                <span class="menu-text-with-badge">
                  設定
                  <% if current_user.age_group.blank? || current_user.residence.blank? %>
                    <span class="menu-badge"></span>
                  <% end %>
                </span>
              <% end %>
            </li>
          <% else %>
            <li><%= link_to unauthenticated_root_path do %><i class="fa-solid fa-house"></i><span>TOP</span><% end %></li>
            <li><%= link_to new_user_registration_path do %><i class="fa-solid fa-user-plus"></i><span>新規登録</span><% end %></li>
            <li><%= link_to new_user_session_path do %><i class="fa-solid fa-right-to-bracket"></i><span>ログイン</span><% end %></li>
            <li><%= link_to guide_path do %><i class="fa-solid fa-circle-question"></i><span>使い方</span><% end %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
