<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card shadow p-4 rounded-4" style="max-width: 500px; width: 100%;">
    <h2 class="mb-4 text-center text-primary">ログイン</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% if resource.errors.any? %>
        <div class="mb-3 text-danger small">
          <ul class="mb-0 ps-3">
            <% resource.errors.full_messages.uniq.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group mb-3">
        <%= f.input :email,
                    label: 'メールアドレス',
                    required: true,
                    error: false,
                    input_html: { class: "form-control placeholder-light", autocomplete: "email" } %>
      </div>

      <div class="form-group mb-3">
        <%= f.input :password,
                    label: 'パスワード',
                    required: true,
                    error: false,
                    input_html: { class: "form-control", autocomplete: "new-password", placeholder: "半角英数字 6文字以上" } %>
      </div>

      <div class="d-grid ">
        <%= f.button :submit, "送信", class: "btn btn-primary btn-lg rounded-3", style: "width: 150px; margin: 0 auto;" %>
      </div>

    <% end %>

    <hr class="my-4">

    <div class="text-center">
      <%= link_to "まだアカウントをお持ちでない方はこちら", new_user_registration_path, class: "d-block text-decoration-none text-muted mb-2" %>
      <%= link_to "パスワードをお忘れの方はこちら", new_user_password_path, class: "d-block text-decoration-none text-muted" %>
    </div>
  </div>
</div>
