<%# 新しいコメントをリストの末尾に追加 %>
<%= turbo_stream.append "comments-list" do %>
  <%= render "spot_comments/comment", comment: @comment, current_user: current_user %>
<% end %>

<%# フォームをクリア %>
<%= turbo_stream.replace "comment-form" do %>
  <%= render "spot_comments/form", spot: @spot %>
<% end %>

<%# コメント数を更新（InfoWindow用） %>
<%= turbo_stream.replace "comment-count" do %>
  <span id="comment-count"><%= @spot.spot_comments.count %></span>
<% end %>

<%# コメント数を更新（スポットカード用） %>
<%= turbo_stream.update dom_id(@spot, :comment_count), @spot.spot_comments.count.to_s %>

<%# 空メッセージを削除（あれば） %>
<%= turbo_stream.remove "comments-empty" %>
