<!DOCTYPE html>
<html>
  <head>
    <title>DrivePeek</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css", media: "all" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= javascript_importmap_tags %>

    <% if ENV["GOOGLE_MAPS_API_KEY"].present? %>
      <script
        id="google-maps-script"
        data-turbo-permanent
        async
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places,geometry">
      </script>
    <% end %>
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">
    <%= render 'shared/header' %>

    <main class="main-content">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
    <%= render 'shared/map/photo_gallery_modal' %>
  </body>
</html>
