<!DOCTYPE html>
<html>
  <head>
    <title>DrivePeek</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">
    <%= render 'shared/header' %>

    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
